@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, "Open Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    background: #f2ebd0;
}

.sidebar h1{
    font-size: 22px;
    text-align: left;
    line-height: 70px;
    user-select: none;
}





